@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.dataset-terms-row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.community-norms-text {
  margin: 10px 0;
  color: $dv-subtext-color;
}

.guestbook-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  padding: 0.75rem;
}
