@use 'sass:color';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.helper_text {
  color: $dv-subtext-color;
  font-size: 14px;
}

.file_uploader_drop_zone {
  display: grid;
  place-items: center;
  min-height: 80px;
  background-color: $dv-primary-text-color;
  transition: background-color 0.3s ease-in-out;

  &.is_dragging {
    background-color: $dv-info-box-color;
    border: dashed 2px color.adjust($dv-info-box-color, $lightness: -55%);
  }
}

.drag_drop_msg {
  margin: 0;
  color: $dv-subtext-color;
  font-size: 1.3em;
  text-align: center;
}

.uploading_files_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  .uploading_file {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: color.adjust($dv-secondary-color, $alpha: -0.8);
    border-radius: 8px;

    .info_progress_wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .info_wrapper {
        display: flex;
        gap: 1rem;
        align-items: baseline;
        color: $dv-subtext-color;
        text-wrap: nowrap;
      }

      .upload_progress {
        width: 125px;
      }
    }

    .cancel_upload {
      button {
        // background-color: color.adjust($dv-secondary-color, $lightness: -15%);
      }
    }
  }

  @media (min-width: 768px) {
    .uploading_file {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .info_progress_wrapper {
        flex-direction: row;
        gap: 1rem;
        align-items: center;
      }

      .info_wrapper {
        min-width: 200px;
      }

      .upload_progress {
        width: 150px;
      }
    }
  }
}

.file_type_different_msg {
  display: flex;
  gap: 1rem;
  color: $dv-warning-color;

  svg {
    min-width: fit-content;
  }
}

// .uploaded_files {
//   display: grid;
//   grid-template-columns: 4rem repeat(3, auto) 3.5rem;
// }

// .selected_file > div {
//   margin-bottom: 0.5rem;
//   padding: 0.5rem;
//   background-color: #ffc !important;
// }

// .file:nth-of-type(even) > div {
//   margin-bottom: 0.5rem;
//   padding: 0.5rem;
//   background-color: #f8f9fc;
// }

// .file:nth-of-type(odd) > div {
//   margin-bottom: 0.5rem;
//   padding: 0.5rem;
//   background-color: white;
// }

// .file {
//   display: contents;
// }

// .selected_file {
//   display: contents;
// }

// .failed {
//   padding: 0.25em;
//   color: $dv-danger-color;
//   text-decoration: line-through;
// }

// .cancel_upload {
//   padding-block: 0.1rem;
// }

// .icon {
//   display: inline-block;
// }

// .selected_files_checkbox {
//   display: inline-flex;
//   align-items: center;
// }

// .save_btn {
//   display: flex;
//   justify-content: flex-end;
//   padding-top: 1rem;
// }
