# IntelliJ
/.idea

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/cypress/downloads
/cypress/screenshots


# production
/dist

# storybook
/storybook-static

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#deployment
/deployment/payara/target

#dev environment
/dev-env/docker-dev-volumes
/dev-env/dataverse
/dev-env/dataverse-sample-data
