legacy-peer-deps=true

# NPM Registry
//registry.npmjs.org/:_authToken=<YOUR_NPM_AUTH_TOKEN>
@iqss:registry=https://registry.npmjs.org/

# GitHub Packages Registry
//npm.pkg.github.com/:_authToken=<YOUR_GITHUB_AUTH_TOKEN>
# @iqss:registry=https://npm.pkg.github.com/
# IMPORTANT: Comment out the line above when:
# 1. Publishing the Design System to npm, to avoid publishing to the GitHub Packages Registry.
# 2. Making a release of the application and installing latest version of Dataverse Client Javascript, to avoid installing from the GitHub Packages Registry (otherwise will lead to a npm error code ETARGET).