legacy-peer-deps=true

# design-system registry
//registry.npmjs.org/:_authToken=<YOUR_NPM_AUTH_TOKEN>
@iqss:registry=https://registry.npmjs.org/

# js-dataverse registry
//npm.pkg.github.com/:_authToken=<YOUR_GITHUB_AUTH_TOKEN>
# IMPORTANT: when publishing the Design System, comment out the following line to avoid publishing to GitHub Packages
@iqss:registry=https://npm.pkg.github.com/
