@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.description {
  margin-bottom: 1em;
}

.text {
  color: $dv-subtext-color;
}

.styledCitation {
  color: $dv-info-border-color;
}

.styledCitationBox {
  padding: 0.5rem 1rem;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  background-color: #f7f7f9;
  border: solid 1px $dv-border-color;
  border-radius: 4px;
}
