@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.description {
  margin-bottom: 1em;
  word-break: break-word;
}

.text {
  color: $dv-subtext-color;
}

.styledCitation {
  color: $dv-info-border-color;
}

.citationStyleLabel {
  margin-top: 15px;
}

.styledCitationBox {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;

  :global(.csl-left-margin) {
    display: none;
  }
}

.styledCitationButton {
  color: $dv-link-color !important;
}

.copyCitationButtonWrapper {
  display: flex;
  align-items: center;
  margin-right: -12px;
  margin-bottom: -2px;
}
