@use 'sass:color';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';
@import 'src/assets/variables';

@mixin border-bottom-separator($pb: 1.5rem) {
  margin-bottom: 1.5rem;
  padding-bottom: $pb;
  border-bottom: solid 1px $dv-border-color;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: $main-container-available-height;
  padding-top: 2rem;
}

.usage-wrapper {
  @include border-bottom-separator;

  order: 2;

  @media (min-width: 1024px) {
    order: 1;
  }
}

.middle-search-cta-wrapper {
  @include border-bottom-separator(3.5rem);

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  order: 1;
  width: 100%;
  padding-top: 2rem;

  @media (min-width: 1024px) {
    order: 2;
  }
}

.featured-items-wrapper {
  order: 3;
  min-width: 100%;

  &:has(h4) {
    @include border-bottom-separator;
  }
}

.metrics-wrapper {
  order: 4;
}
