@use 'sass:color';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';
@import 'src/assets/variables';

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: $main-container-available-height;
  padding-top: 2rem;
}

.featured-items-wrapper {
  min-width: 100%;
}

.middle-search-cta-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 2rem;
}

.separation-line {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background-color: $dv-border-color;
  margin-block: 1.5rem;
}
