@import "src/assets/styles/colors";
@import "src/assets/styles/typography";

.container {
    padding: 60px 0;
    color: $dv-secondary-text-color;
}

.copyright {
    margin: 0 0 10px;
    font-size: $dv-font-size-sm;
}

.powered-by-container {
    font-size: $dv-font-size-sm;
    text-align: right;
}

.powered-by-text {
    margin-right: 0.6em;
}

.version {
    margin-right: 0.3em;
    white-space: nowrap;
    text-align: right;
    vertical-align: bottom;
}