.container {
    padding: 60px 0;
    color: #767676;
}

.copyright {
    margin: 0 0 10px;
    font-size: 85%;
}

.powered-by-container {
    font-size: .85em;
    text-align: right;
}

.powered-by-text {
    margin-right: 0.6em;
}

.powered-by-logo {
    font-size: 14px;
}

.version {
    margin-right: 0.3em;
    white-space: nowrap;
    text-align: right;
    vertical-align: bottom;
}