.image-dropzone {
  display: grid;
  place-items: center;
  height: 38px;
  border: dashed 1px #ced4da;
  border-radius: 6px;
  cursor: pointer;
  transition: border-color 0.3s;

  &:hover {
    border-color: #333;
  }

  &:focus {
    border-color: #333;
  }

  small {
    margin: 0;
  }
}
