@use 'sass:color';
@import "node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module";
@import "node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/typography.module";

.container {
  margin: 6px 0;
  padding: 4px 10px;
  border: 1px solid $dv-collection-border-color;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;gap: 8px;
}

.icon {
  margin-top: 2px;
  color: $dv-collection-border-color;
  font-size: 1.3em;
  line-height: 1.1;

  > div >span {
    margin-right: 0;
  }
}

.thumbnail {
  width: 48px;
  margin: 8px 12px 6px 0;
  font-size: 2.8em;

  img {
      vertical-align: top;
  }
}

.info {
  display: flex;
  color: $dv-subtext-color;
}

.card-info-container {
  display: flex;
  font-size: $dv-font-size-sm;
}

.description {
  display: -webkit-box; -webkit-line-clamp: 3;  line-clamp: 3; -webkit-box-orient: vertical;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  color: black;
}

.date {
  color: $dv-subtext-color;

}

.affiliation {
  color: $dv-subtext-color;
}

.badge {
  margin-right: 0.5em;
}