@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.navbar {
  box-shadow: 0 1px 5px rgba(0 0 0 / 10%);

  .login-btn {
    color: var(--bs-nav-link-color);
    text-decoration: none;
  }
}

.unread-notifications-count {
  margin-left: 6px;
  padding: 2px 8px;
  color: #fff;
  font-weight: bold;
  font-size: 0.9em;
  background: #d32f2f;
  border-radius: 12px;
}
