@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.navbar {
  box-shadow: 0 1px 5px rgba(0 0 0 / 10%);

  .login-btn {
    color: var(--bs-nav-link-color);
    text-decoration: none;
  }
}
