@import "node_modules/dataverse-design-system/src/lib/components/assets/styles/design-tokens/typography.module";
@import "node_modules/dataverse-design-system/src/lib/components/assets/styles/design-tokens/colors.module";

.container {
display: flex;
}

.body-container {
  padding-left: 10px;

  &__subtext {
    font-size: $dv-font-size-sm;
    color: $dv-subtext-color;

  }
}

.checksum-container {
  min-height: 20px;
  display: flex;
  align-items: center;
}

.description-container {
  font-size: $dv-font-size-sm;
  color: $dv-text-color;
}

.labels-container >*{
  margin-right: 0.5em;;
}