@use 'sass:color';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.collection-info {
  margin-bottom: 1.5rem;

  .top-section {
    display: grid;

    // margin-bottom: 1.5rem;

    & > * {
      grid-row: 1;
      grid-column: 1;
    }

    .cover-image {
      display: block;
      width: 100%;
      height: 30vh;
      min-height: 200px;
      max-height: 280px;
      object-fit: cover;

      // object-position: center 70%;
    }

    .content {
      padding: 0.5rem 1rem;

      .breadcrumbs-wrapper {
        width: fit-content;
        padding-bottom: 0.5rem;
        padding-inline: 0.5rem;
        background-color: rgba(255 255 255 / 80%);
        border-radius: 4px;

        :global .breadcrumb {
          margin-bottom: 0;
        }
      }

      .header {
        margin-bottom: $spacer;

        h1 {
          color: white;
          text-shadow: 2px 2px 5px rgba(0 0 0 / 80%); /* Dark shadow to create contrast */
        }

        // h1 {
        //   color: white;
        //   background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
        //   padding: 10px;
        //   display: inline-block;
        // }
      }

      .infoContainer {
        display: flex;
        gap: 10px;
      }

      .subtext {
        margin-bottom: 0;
        color: white;
        text-shadow: 2px 2px 5px rgba(0 0 0 / 70%); /* Dark shadow to create contrast */
        // color: $dv-subtext-color;
      }
    }
  }

  .bottom-section {
    padding: 2rem 0 2.5rem;
    background-color: $dv-secondary-color;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    // border: solid 2px black;

    // Carousel

    :global .carousel-indicators {
      top: 100%;
    }

    :global .carousel-indicators button {
      width: 14px;
      height: 14px;
      background-color: #000;
      border-radius: 50%;
    }

    .featured-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 70%;
      min-height: 300px;
      max-height: 300px;
      padding: 1rem 1.5rem;
      overflow-y: auto;
      margin-inline: auto;
      margin-block: 1rem;
      background-color: #fff;
      border: solid 2px #000;
      border-radius: 8px;
      box-shadow: 2px 2px 16px rgba(0 0 0 / 30%);

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $dv-secondary-color;
        border-radius: 6px;

        &:hover {
          background-color: color.adjust($dv-secondary-color, $blackness: 40%);
        }
      }
    }
  }

  // .description {
  //   p {
  //     margin-bottom: 0;
  //     // color: white;
  //     // text-shadow: 2px 2px 5px rgba(0 0 0 / 70%); /* Dark shadow to create contrast */
  //   }
  // }
}
