@import '../../../../node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.items-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .add-data-slot {
    align-self: flex-end;
  }
}

.bottom-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
  }
}
