@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import "node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module";

.container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacer;
}

.header {
  margin-bottom: $spacer;
}

.infoContainer {
  display: flex;
  gap: 10px;
}

.subtext {
  color: $dv-subtext-color;
}