@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';
@import '../../assets/variables';

.show-me-data-wrapper {
  display: flex;
  justify-content: center;
}

.coll-items-wrapper {
  scroll-margin-top: $header-aproximate-height;
}

.header {
  margin-bottom: $spacer;
}

.infoContainer {
  display: flex;
  gap: 10px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.subtext {
  color: $dv-subtext-color;
}
