@use 'sass:color';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.featured-item-fields-wrapper {
  position: relative;
  padding: 1rem;
  border: solid 1px $dv-secondary-color;
  border-radius: 6px;
  touch-action: none;

  &.sorting {
    background-color: color.adjust($dv-secondary-color, $alpha: -0.4);

    &.active {
      z-index: 999;
      background-color: color.adjust($dv-primary-color, $alpha: -0.4);
    }
  }

  .drag-handle {
    width: 38px;
    height: 38px;
    margin-bottom: 0.5rem;
    padding: 0;
    background-color: transparent;
    border: 0;
    border: solid 1px $dv-secondary-color;
    border-radius: 4px;
    cursor: grab;

    &:hover:not(.disabled) {
      background-color: $dv-secondary-color;
    }

    &:active:not(.disabled) {
      cursor: grabbing;
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  .form-group-content {
    cursor: auto;
  }

  .error-msg {
    width: 100%;
    margin-top: 0.25rem;
    color: $dv-danger-color;
    font-size: 0.875em;
  }

  .image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 4px;
    border: solid 1px $dv-border-color;
    border-radius: 6px;

    img {
      width: 100px;
      min-height: fit-content;
      max-height: 100px;
      object-fit: contain;
      border-radius: 4px;
    }

    &.hide {
      display: none;
    }

    .image-actions {
      position: absolute;
      top: 4px;
      right: 4px;
      display: flex;
      gap: 0.25rem;
      align-items: center;
      align-self: flex-start;
      justify-self: flex-end;
    }
  }
}
