.loading_config {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;

  .dots {
    display: inline-block;

    span {
      opacity: 0;
      animation: blink 1.5s infinite;
    }

    span:nth-child(1) {
      animation-delay: 0s;
    }

    span:nth-child(2) {
      animation-delay: 0.3s;
    }

    span:nth-child(3) {
      animation-delay: 0.6s;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
