@use 'sass:color';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.link_wrapper {
  color: unset;
  text-decoration: none;

  &:hover {
    color: unset;
    text-decoration: none;
  }
}

.custom_featured_item_card {
  min-height: 100%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: $dv-brand-color;
    box-shadow: 2px 2px 4px 0 color.adjust($dv-brand-color, $alpha: -0.75);
  }

  .image {
    max-height: 100px;
    object-fit: cover;
  }

  .content {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
    pointer-events: none;

    & * {
      pointer-events: none;
    }

    &.with_image {
      -webkit-line-clamp: 4;
      line-clamp: 4;
    }

    h1 {
      font-size: 18px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 16px;
    }

    p {
      margin: 0;
      font-size: 14px;
    }

    a {
      word-break: break-all;
    }

    // Both of these are only beacuse block codes make card overflow
    :global .rte-code-block {
      white-space: pre-wrap;
      word-break: break-word;
    }

    :global .rte-code-block code {
      white-space: pre-wrap;
      word-break: break-word;
    }
  }
}
