@use 'sass:color';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.link_wrapper {
  color: unset;
  text-decoration: none;

  &:hover {
    color: unset;
    text-decoration: none;
  }
}

.custom_featured_item_card {
  min-height: 100%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: $dv-brand-color;
    box-shadow: 2px 2px 4px 0 color.adjust($dv-brand-color, $alpha: -0.75);
  }

  @media (prefers-reduced-motion: no-preference) {
    &:hover .image {
      transform: scale(1.1);
    }
  }

  .image {
    max-height: 100px;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
  }

  .content {
    box-sizing: border-box;
    padding-bottom: 0.25rem;

    --line-height: 1.25rem;
    --lines: 8;

    max-height: calc(var(--line-height) * var(--lines));
    width: 100%;
    overflow: hidden;
    position: relative;
    pointer-events: none;

    & * {
      pointer-events: none;
    }

    min-height: 0;
    min-width: 0;
    line-height: 1.25rem;

    &.with_image {
      --lines: 4;

      max-height: calc(var(--line-height) * var(--lines));
    }

    h1 {
      font-size: 18px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 16px;
    }

    p {
      margin: 0;
      font-size: 14px;
    }

    a {
      word-break: break-all;
    }

    :global .rte-code-block {
      white-space: pre-wrap;
      word-break: break-word;
    }

    :global .rte-code-block code {
      white-space: pre-wrap;
      word-break: break-word;
    }

    mask-image: linear-gradient(to bottom, rgb(0 0 0 / 100%) 60%, rgb(0 0 0 / 0%) 100%);

    &::after {
      content: '';
      position: absolute;
      right: 0.5rem;
      bottom: 0;
      pointer-events: none;
      color: inherit;
      background: linear-gradient(to right, rgb(255 255 255 / 0%), var(--card-bg, #fff));
      padding-left: 0.25rem;
    }
  }
}
