@import "src/sections/ui/assets/styles/bootstrap-variables";
@import "src/sections/ui/assets/styles/design-tokens/colors.module";
@import "src/sections/ui/assets/styles/design-tokens/typography.module";

$navbar-light-brand-color: $dv-brand-color;
$navbar-brand-font-size: $dv-brand-font-size;

@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/helpers";

.navbar-collapse {
  justify-content: end;
}