@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.items-list {
  --inline-padding: 1rem;

  height: 650px;
  max-height: 650px;
  padding-inline: var(--inline-padding);
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid $dv-border-color;
  border-radius: 4px;

  @media screen and (max-width: 768px) {
    --inline-padding: 0.5rem;
  }

  @media screen and (min-width: 1280px) {
    height: 60vh;
    max-height: 60vh;
  }

  &.empty-or-error {
    padding-block: var(--inline-padding);
  }

  .custom-message-container {
    padding: 0.5em 1em;
    background: $dv-warning-box-color;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: calc(100% + (var(--inline-padding) * 2));
    padding: 0.5rem var(--inline-padding);
    background-color: var(--bs-white);
    box-shadow: 0 0 10px 0 rgba(0 0 0 / 30%);
    transform: translateX(calc(var(--inline-padding) * -1));
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin: 0;
    padding: 1rem 0;

    li {
      list-style: none;
    }
  }

  .pagination-results-skeleton {
    position: sticky;
    top: 0;
    z-index: 10;
    width: calc(100% + (var(--inline-padding) * 2));
    padding: 1rem var(--inline-padding) 0.5rem;
    background-color: var(--bs-white);
    box-shadow: 0 0 10px 0 rgba(0 0 0 / 30%);
    transform: translateX(calc(var(--inline-padding) * -1));
  }
}
