@import "node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module";
@import "node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/typography.module";

.container {
  padding:15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.empty-message-container {
  padding: .5em 1em;
  background: $dv-warning-box-color;
}

.card {
    margin: 6px 0;
    border: 1px solid $dv-info-border-color;
    padding: 4px 10px;
}

.card-header {
  display: flex;
  > * {
    margin-right: .5em;
  }
}

.card-thumbnail {
  width: 48px;
  margin: 4px 12px 6px 0;
  font-size: 2.8em;
}

.card-info {
  display: flex;
}

.date {
  color: $dv-subtext-color;
  font-size: $dv-font-size-sm;
}