@import "node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module";

%restricted-icon {
  position: absolute;
  right: -14px;
  bottom: -5px;
  font-size: 20px;
}

.restricted-icon-restricted {
  @extend %restricted-icon;

  color: $dv-danger-color;
}

.restricted-icon-restrictedWithAccess {
  @extend %restricted-icon;

  right: -16px;
  color: $dv-success-color;
}