@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.template-row {
  display: grid;
  grid-template-columns: minmax(0, 220px) 1fr;
  gap: 1rem;
  align-items: baseline;
  margin-bottom: $spacer;
  font-size: 1.1rem;
}

.template-label {
  font-weight: 600;
}

.template-name {
  font-weight: 500;
}

.preview-accordion {
  margin-top: $spacer;
}

.loading-state {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
