@import "node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module";

.icon {
  color: $dv-info-border-color;
  line-height: 1.1;
}

.preview-image {
  width: 100%;
  max-width: 140px;
  height: auto;
  max-height: 140px;
}