@import "node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module";


.container {
    margin: 0.5rem 0;
    padding: 10px;
    border: 1px solid $dv-info-border-color;

}

.citation {
    margin-bottom: 1em;
}

.deaccessioned {
    margin: 0.5rem 0;
    padding: 10px;
    border: 1px solid $dv-danger-color;
}

.icon {
    color: #428BCA;
    font-size: 7.5em;
    line-height: 1.1;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}