.file-versions-table {
  width: 100%;
  margin: auto;  
  overflow-x: auto;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;


  th {
    font-weight: 600;
  }

  th,
  td {
    width: auto;
    vertical-align: top;
  }
}
