@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/typography.module';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.file_info {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;

  .thumbnail_container {
    padding-top: 0.35rem;

    .file_icon {
      height: fit-content;
      color: $dv-file-border-color;

      > span {
        margin-right: 0;
        font-size: 62px;
        line-height: 1;
      }
    }
  }

  .body_container {
    .sub_text {
      color: $dv-subtext-color;
      font-size: $dv-font-size-sm;
    }
  }

  @media (min-width: 768px) {
    gap: 1.25rem;
  }
}
