@import "node_modules/@iqss/dataverse-design-system/src/lib/components/assets/styles/design-tokens/colors.module";
@import "src/sections/assets/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: $body-available-height;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.title {
  color: $dv-brand-color;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.link {
  color: $dv-link-color;
}

