.container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.title {
  color: #C55B28;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.link {
  color: #3174AF;
}

