@use 'sass:color';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.notification-item {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding: 0.75rem;
  background-color: color.adjust($dv-secondary-color, $lightness: 8%);
  border-radius: 6px;
  transition: background 0.3s;
}

.unread {
  background-color: #fffbe6;
  font-weight: bold;
}

.read {
  background-color: #f5f5f5;
  color: #888;
}

.timestamp {
  margin-left: 8px;
  color: #888;
  font-size: 0.85em;
}
