// Base colors
$dv-brand-color: #C55B28;
$dv-primary-color: #337AB7;
$dv-secondary-color: #6c757d;
$dv-success-color: #5cb85c;
$dv-danger-color: #d9534f;
$dv-warning-color: #f0ad4e;
$dv-info-color: #5bc0de;
$dv-success-box-color: #dff0d8;
$dv-danger-box-color: #f2dede;
$dv-warning-box-color: #fcf8e3;
$dv-info-box-color: #d9edf7;

// Text colors
$dv-text-color: #333;
$dv-subtext-color: #767676;

$dv-primary-text-color: white;
$dv-secondary-text-color: $dv-text-color;
$dv-success-text-color: #3c763d;
$dv-danger-text-color: #a94442;
$dv-warning-text-color: #8a6d3b;
$dv-info-text-color: #31708f;

$dv-headings-color: #333;

// Link colors
$dv-link-color: #3174AF;
$dv-link-hover-color: #23527c;

:export {
  brand: $dv-brand-color;
  primary: $dv-primary-color;
  secondary: $dv-secondary-color;
  textColor: $dv-text-color;
  subTextColor: $dv-subtext-color;
  primaryTextColor: $dv-primary-text-color;
  secondaryTextColor: $dv-secondary-text-color;
  successTextColor: $dv-success-text-color;
  dangerTextColor: $dv-danger-text-color;
  warningTextColor: $dv-warning-text-color;
  infoTextColor: $dv-info-text-color;
  headingsColor: $dv-headings-color;
  linkColor: $dv-link-color;
  linkHoverColor: $dv-link-hover-color;
  successColor: $dv-success-color;
  dangerColor: $dv-danger-color;
  warningColor: $dv-warning-color;
  infoColor: $dv-info-color;
}