@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

// TODO:ME Improve styles

.facets-list,
.labels-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.facets-list {
  padding-block: 1rem;

  .facet-filter-group {
    padding-bottom: 0.5rem;
    border-bottom: solid 1px $dv-border-color;

    .facet-name {
      font-weight: 600;
    }

    .labels-list {
      li {
        display: flex;
      }

      button {
        padding: 0;
        text-decoration: none;
        text-wrap: nowrap;

        &[aria-selected='true'] {
          font-weight: 600;
        }

        &:disabled {
          color: $dv-primary-color;
        }

        span {
          text-wrap: wrap;
        }

        svg {
          min-width: fit-content;
        }
      }
    }

    .show-more {
      display: flex;
      justify-content: flex-end;
    }
  }
}
