.filter-panel {
  // border: solid 1px red;

  .toggle-canvas-btn {
    display: block;

    @media (min-width: 992px) {
      display: none;
    }
  }

  .filters-wrapper {
    width: 100%;
    padding-inline: 1rem;
  }
}
