.dataset-versions-table {
  width: 100%;
  margin: auto;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  overflow-x: auto;

  th {
    font-weight: 600;
  }

  th,
  td {
    width: auto;
    vertical-align: top;
  }

  tbody {
    tr {
      &:has(input[type='checkbox']:checked) {
        background-color: #ffc;
      }
    }

    th:first-child {
      text-align: center;
    }
  }

  input[type='checkbox'] {
    margin: 0;
    margin-right: 20px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}
