.dataset-versions-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: auto;
  text-align: center;

  th,
  td {
    vertical-align: top;
    width: auto;
  }

  th {
    font-weight: 600;
  }
}
