.composed-fields-multiple-row:not(:last-child) {
  margin-bottom: 1rem;
}

.composed-fields-grid {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  & > div:has(textarea) {
    grid-column: span 2;
  }
}

.dynamic-fields-button-container {
  margin-top: calc(24px + 8px); // 24px text label height & 8px its margin bottom

  &.on-composed-multiple {
    @media screen and (max-width: 575px) {
      margin-top: 0;
    }
  }

  &.on-primitive-multiple {
    margin-top: 0;

    @media screen and (max-width: 575px) {
      margin-top: 1rem;
    }
  }
}

.field-label {
  height: fit-content;
}
