@import "src/assets/styles/colors";

$enable-gradients: true;
$primary: $dv-primary-background-color;
$secondary: #E7E7E7;

@import "./src/assets/styles/bootstrap-variables";
@import "bootstrap/scss/buttons";