@use 'sass:color';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.featured-items-accordion {
  margin-bottom: 1rem;

  .accordion-item {
    overflow: hidden;
  }

  .accordion-body {
    padding: 0;
    padding-top: 2rem;
    background-color: color.adjust($dv-secondary-color, $lightness: 10%);
  }
}

.featured-item-card {
  --inner-content-gap: 2rem;

  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  min-height: 300px;
  max-height: 70dvh;
  overflow-y: auto;
  background-color: #fff;
  border: solid 1px $dv-border-color;
  border-radius: 6px;
  margin-inline: auto;

  .inner-content {
    display: flex;
    flex-direction: column;
    gap: var(--inner-content-gap);
    align-items: flex-start;
    padding: 1rem;

    .content {
      flex: 1;
      max-width: 100%;
    }

    .image {
      width: 100%;
      max-width: 100%;
      max-height: 50dvh;
      object-fit: contain;
      border-radius: 4px;
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dv-secondary-color;
    border-radius: 6px;

    &:hover {
      background-color: color.adjust($dv-secondary-color, $blackness: 40%);
    }
  }

  @media (min-width: 768px) {
    max-height: 60dvh;

    .inner-content {
      flex-direction: row;

      &:has(.image) {
        .content {
          max-width: calc(70% - var(--inner-content-gap));
        }
      }

      .image {
        max-width: 30%;
      }
    }
  }

  @media (min-width: 1024px) {
    max-height: 80dvh;

    .inner-content {
      padding: 2rem;

      &:has(.image) {
        .content {
          max-width: calc(60% - var(--inner-content-gap));
        }
      }

      .image {
        max-width: 40%;
      }
    }
  }
}
