@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'src/sections/ui/assets/styles/design-tokens/colors.module';

@layer core {
    .primary {
        color: color-contrast($dv-primary-color);
    }

    .secondary {
        color: color-contrast($dv-secondary-color);
    }

    .info {
        color: color-contrast($dv-info-color);
    }

    .success {
        color: color-contrast($dv-success-color);
    }

    .warning {
        color: color-contrast($dv-warning-color);
    }

    .danger {
        color: color-contrast($dv-danger-color);
    }
}
