@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.box {
  margin-bottom: 0.5em;
  color: $dv-info-color;
  text-align: center;
  background-color: $dv-info-box-color;
}

.icon {
  margin-right: 0.3rem;
  margin-bottom: 0.2rem;
}
