@use 'sass:color';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.featured-item-fields-wrapper {
  position: relative;
  padding: 1rem;
  border: solid 1px $dv-secondary-color;
  border-radius: 6px;

  &.sorting {
    background-color: color.adjust($dv-secondary-color, $alpha: -0.4);

    &.active {
      z-index: 999;
      background-color: color.adjust($dv-primary-color, $alpha: -0.4);
    }
  }

  .drag-handle {
    width: 38px;
    height: 38px;
    padding: 0;
    background-color: transparent;
    border: 0;
    border: solid 1px $dv-secondary-color;
    border-radius: 4px;
    cursor: grab;

    &:hover:not(.disabled) {
      background-color: $dv-secondary-color;
    }

    &:active:not(.disabled) {
      cursor: grabbing;
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .image-dropzone {
    display: grid;
    place-items: center;
    height: 38px;
    border: dashed 1px #ced4da;
    border-radius: 6px;
    cursor: pointer;
    transition: border-color 0.3s;

    &:hover {
      border-color: #333;
    }

    &:focus {
      border-color: #333;
    }

    small {
      margin: 0;
    }
  }
}
