@use 'sass:color';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/typography.module';

.featured-item-fields-wrapper {
  position: relative;
  padding: 1rem;
  border: solid 1px $dv-secondary-color;
  border-radius: 6px;
  touch-action: none;

  .drag-edit-btn-column {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 0.5rem;

    @media (min-width: 768px) {
      flex-direction: column;
    }
  }

  .drag-handle {
    width: 38px;
    height: 38px;
    padding: 0;
    background-color: #fff;
    border: 0;
    border: solid 1px $dv-secondary-color;
    border-radius: 4px;
    cursor: grab;

    &:hover:not(.disabled) {
      background-color: $dv-secondary-color;
    }

    &:active:not(.disabled) {
      cursor: grabbing;
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  .edit-button {
    position: relative;
    width: 38px;
    height: 38px;
    padding: 0;
    border-radius: 4px;

    &.edit-disabled::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 70%;
      height: 2px;
      background: white;
      border-top: solid 1px $dv-primary-color;
      transform: translate(-50%, -50%) rotate(45deg);
      content: '';

      // background-color: orange !important;
    }
  }

  .featured-item-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 0.75rem;

    .badges-column {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .form-group-content,
  .form-group-image {
    margin-bottom: 1rem;
  }

  .form-group-content {
    cursor: auto;
  }

  .error-msg {
    width: 100%;
    margin-top: 0.25rem;
    color: $dv-danger-color;
    font-size: 0.875em;
  }

  .image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 38px;
    padding: 4px;
    background-color: #fff;
    border: solid 1px $dv-border-color;
    border-radius: 6px;

    img {
      width: 175px;
      max-height: 175px;
      object-fit: contain;
      border-radius: 4px;
    }

    &.hide {
      display: none;
    }

    &:focus-within {
      border-color: color.adjust($dv-primary-color, $alpha: -0.4);
      outline: 0;
      box-shadow: 0 0 0 0.25rem color.adjust($dv-primary-color, $alpha: -0.75);
    }

    .image-actions {
      position: absolute;
      top: 4px;
      right: 4px;
      display: flex;
      gap: 0.25rem;
      align-items: center;
      align-self: flex-start;
      justify-self: flex-end;
    }
  }

  .editor-wrapper {
    background-color: #fff;
    border-radius: 6px;
  }

  &.sorting {
    background-color: color.adjust($dv-secondary-color, $alpha: -0.4);

    // To decrease the height of the RTE input when draggin and make the draggable element easier to move
    :global .rich-text-editor-content {
      min-height: unset !important;
      max-height: 120px !important;
    }

    &.active {
      z-index: 999;
      background-color: color.adjust($dv-primary-color, $alpha: -0.4);
    }
  }

  &.edit-disabled {
    // background: repeating-linear-gradient(
    //   -315deg,
    //   $dv-secondary-color 0,
    //   $dv-secondary-color 1px,
    //   transparent 1px,
    //   transparent 4px
    // );
    background-color: color.adjust($dv-secondary-color, $alpha: -0.6);

    // background: repeating-linear-gradient(
    //   -315deg,
    //   $dv-secondary-color 0,
    //   $dv-secondary-color 1px,
    //   transparent 1px,
    //   transparent 4px
    // );
  }
}
