@import "node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module";

.icon_pencil {
    margin-right: 0.3rem;
  margin-bottom: 0.2rem;
}

.selected_files_info {
    display: inline-flex;
    align-items: center;
    padding-left: 1em;
}
