@import "node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module";

.errorText {
  color: $dv-danger-color;
}

.warningText {
  margin-bottom: 0;
  color: $dv-warning-color;
}