.form-container {
  scroll-margin-top: 62px;
}

.top-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.bottom-buttons-container {
  display: flex;
  justify-content: flex-end;
}
