.header {
  margin: 0.5em 0;
}

.container {
  margin: 0.5rem 0;
}

.summary-container {
  margin:1em 0;
}

.tab-container {
  padding: 1em 0;
}

.separation-line {
  margin: 1em 0;
  border-bottom: 1px solid #dee2e6;
}