.search-panel {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
  }
}

.search-form {
  @media (min-width: 768px) {
    min-width: 325px;
  }
}

.search-input-group {
  margin-bottom: 0 !important;
}

.advanced-search-btn {
  width: fit-content;
  min-width: fit-content;
}
