@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.errorText {
  color: $dv-danger-color;
}

.secondaryText {
  color: $dv-subtext-color;
}

.disclaimerText {
  + label {
    color: $dv-danger-color;
  }
}

.customPopupTextBlock {
  border: 1px solid $dv-border-color;
  background-color: #f8f9fa;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
}

.customPopupText {
  margin: 0;
  color: $dv-text-color;
}
