.table-sticky-header {
  position: sticky;
  z-index: 1;
  background-color: var(--bs-white);
  transition: top 100ms ease-in-out;

  &::before {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: var(--bs-border-color);
    content: '';
  }

  &::after {
    position: absolute;
    top: calc(100% - 2px);
    display: block;
    width: 100%;
    height: 16px;
    background: linear-gradient(to bottom, rgba(0 0 0 / 10%) 0%, transparent 100%);
    content: '';
    pointer-events: none;
  }
}

.table-top-messages {
  position: sticky;
  z-index: 1;
}

.file-info-header {
  display: flex;
  align-items: flex-start;
}

.selected-row {
  background-color: #ffc;
}

.select {
  width: 2%;
}

.info {
  width: 65%;
}
