@use 'sass:color';
@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

:root {
  --search-input-height: 50px;
  --search-input-max-width: 580px;
  --search-input-gap: 4px;
  --search-input-transition: 0.15s ease-in-out;
  --search-icon-btn-width: 60px;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  gap: var(--search-input-gap);
  align-items: center;
  width: min(100%, var(--search-input-max-width));
  height: var(--search-input-height);
  background-color: $dv-brand-color;
  border: solid 4px $dv-brand-color;
  border-radius: 999px;
  transition: var(--search-input-transition);
  transition-property: box-shadow;

  &:focus-within,
  &:hover {
    box-shadow: 0 0 0 0.15rem color.adjust($dv-brand-color, $alpha: -0.7);
  }
}

.text-input {
  height: 100%;
  border: 0;
  border-radius: 999px;
  caret-color: $dv-brand-color;
  padding-inline: 1.25rem;

  &:focus {
    box-shadow: none;
  }
}

.search-btn {
  display: grid;
  place-items: center;
  min-width: var(--search-icon-btn-width);
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 999px;
  transition: var(--search-input-transition);
  transition-property: background-color;

  &:hover {
    background-color: color.adjust($dv-brand-color, $lightness: -10%);
  }

  &:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.25rem color.adjust($dv-brand-color, $lightness: -5%);
  }

  &:active {
    background-color: color.adjust($dv-brand-color, $lightness: -15%);
  }

  svg {
    color: $dv-primary-text-color;
  }
}

.clear-btn {
  position: absolute;
  right: calc(var(--search-icon-btn-width) + var(--search-input-gap));
  margin-right: 1rem;
}
