%container {
  position: relative;
  display: inline-block;
}

.container-preview-image {
  @extend %container;
}

.container-icon {
  @extend %container;

  width: 55px;
  height: 80px;
}

.tooltip  {
  display: table-cell;
  width: 430px;
  height: 430px;
  vertical-align: middle;
}

.tooltip-preview-image {
  max-width: 390px;
}

.restricted-icon {
  position: absolute;
  right: -14px;
  bottom: -5px;
}
