@import "node_modules/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module";

.container {
  margin-left: 5px;
  cursor: pointer;
}

.check {
  color: $dv-success-color;
  font-size: 20px;
}