@import "node_modules/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module";

.container {
  cursor: pointer;
}

.icon {
  margin-left: 5px;
}

.check {
  @extend .icon;
  color: $dv-success-color;
}