.form-container {
  scroll-margin-top: 62px;
}

.form-group {
  margin-bottom: 1rem;

  label {
    @media (min-width: 768px) {
      text-align: right;
    }
  }

  label[for='termsAccepted'] {
    text-align: left;
  }
}
