.form-group {
  margin-bottom: 1rem;

  label {
    @media (min-width: 768px) {
      text-align: right;
    }
  }

  label[for='termsAccepted'] {
    text-align: left;
  }
}

.about-prefilled-fields-wrapper {
  max-width: 100ch;
  margin-bottom: 1rem;
  white-space: pre-wrap;

  svg {
    translate: 0 -15%;
  }
}
