@import 'node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module';

.form-container {
  scroll-margin-top: 62px;
}

.form-group {
  margin-bottom: 1rem;

  label {
    @media (min-width: 768px) {
      text-align: right;
    }
  }

  label[for='termsAccepted'] {
    text-align: left;
  }
}

.terms-of-use-wrapper {
  height: 100px;
  min-height: 100px;
  padding: 12px;
  overflow-y: auto;
  background-color: #f5f5f5;
  border: solid 1px $dv-border-color;
  border-radius: 6px;
  resize: vertical;
}
