@import "node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module";

.file_uploader {
    min-height: 5em;
}

.files {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.uploaded_files {
    display: grid;
    grid-template-columns: 4rem repeat(3, auto) 3.5rem;
}

.selected_file>div {
    margin-bottom: 0.5rem;
    background-color: #ffc;
}

.file:nth-of-type(even)>div {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: #f8f9fc;
}

.file:nth-of-type(odd)>div {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: white;
}

.file {
    display: contents;
}

.selected_file {
    display: contents;
}

.file_name {
    padding: 0.25em;
}

.failed {
    padding: 0.25em;
    color: $dv-danger-color;
    text-decoration: line-through;
}

.file_size {
    padding: 0.25em;
}

.cancel_upload {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.upload_progress {
    min-width: 10em;
}

.icon {
    display: inline-block;
}

.info {
    padding: 0.5em;
    color: $dv-subtext-color;
    font-size: 1.3em;
    text-align: center;
}

.forms {
    padding: 0.5em;
}

.selected_files_checkbox {
    display: inline-flex;
    align-items: center;
}

.save_btn {
    float: right;
    padding-top: 1rem;
}