@import "node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module";

.file_uploader {
    min-height: 5em;
}

.files {
    display: table;
}

.group {
    display: table-row-group;
}

.file {
    display: table-row;
    vertical-align: middle;
}

.cell {
    display: table-cell;
    padding: 0.25em;
    vertical-align: middle;
}

.failed {
    display: table-cell;
    padding: 0.25em;
    color: $dv-danger-color;
    text-decoration: line-through;
    vertical-align: middle;
}

.progress {
    width: 10em;
    margin-left: 1em
}

.icon {
    display: inline-block;
    vertical-align: -0.125em;
}

.info {
    padding: 0.5em;
    color: $dv-subtext-color;
    font-size: 1.3em;
    text-align: center;
}
