@import "node_modules/@iqss/dataverse-design-system/src/lib/assets/styles/design-tokens/colors.module";

.tag_options {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.tag_info {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: $dv-subtext-color;
}

.apply_button {
    height: 2.4rem;
}